{% extends 'base.html' %}
{% block content %}
    <div class="center-box">
        <h3>Sign up</h3>
        <form method="post" class="login_form" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'form_errors.html' %}
                <h3>{{ profile.user.username }}님, 환영합니다</h3>
                <input type="number" placeholder="Enter hakbun" name="st_num" value="{{ form.st_num.value|default_if_none:'' }}">
                <input type="text" placeholder="Enter nickname" name="nickname" value="{{ form.nickname.value|default_if_none:'' }}">
                <input type="tel" placeholder="Enter phone number" name="phone_num" value="{{ form.phone_num.value|default_if_none:'' }}">
                <input type="file" name="profile_image" value="{{ form.image.value|default_if_none:'' }}" accept="image/*">
                <button type="submit" class="login_btn">Finish</button>
        </form>
    </div>
{% endblock %}




