{% extends 'base.html' %}
{% block content %}
    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert alert-success">
                    {{ message.message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="center-box">
        <h3 style="margin-top: 7%">회원가입</h3>
        <form style="width: 40%" method="post" action="{% url 'account:signup' %}">
            {% csrf_token %}
            {% include 'form_errors.html' %}
            <div class="mt-3">
                <input class="form-control form-control-lg" type="text" placeholder="Enter username" name="username"
                       id="username" value="{{ form.username.value|default_if_none:'' }}">
            </div>
            <div class="mt-3">
                <input class="form-control form-control-lg" type="password" placeholder="Enter password" name="password1"
                       id="password1" value="{{ form.password.value|default_if_none:'' }}">
            </div>
            <div class="mt-3">
                <input class="form-control form-control-lg" type="password" placeholder="Enter confirm password" name="password2"
                       id="password2" value="{{ form.password2.value|default_if_none:'' }}">
            </div>
            <div class="mt-3">
                <input class="form-control form-control-lg" type="email" placeholder="Enter email" name="email"
                       id="email" value="{{ form.email.value|default_if_none:'' }}">
            </div>
            <button type="submit" class="login_btn" style="margin-top: 10%; margin-bottom: 3%; width: 100%;">Sign in
            </button>
        </form>
        <span class="login_bottom_text">회원이십니까?&nbsp;&nbsp;<a class="go_signup" href="{% url 'account:login' %}">로그인</a></span>
    </div>
{% endblock %}