{% extends 'base.html' %}
{% load static %}

{% block title %}Club detail{% endblock %}

{% block content %}
    <div style="width: 100%; background-color: #ff7675; padding-top: 0.5%; padding-bottom: 0.5%; text-align: center">
        <span style="color: white;">모집기간 : {{ club.deadline }}까지</span>
    </div>
    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert alert-success">
                    {{ message.message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div style="margin-left: 10%; margin-right: 10%">
        <div class="detail-box" style="margin-top: 5%">
            <div>
                <span style="font-weight: 700; font-size: 2rem;"><mark>{{ club.title }}</mark></span><br/>
            </div>
            <div style="display: flex; flex-direction: row; width: 100%; height: auto">
                <div style="display: flex; flex-direction: column; float: left; width: 30%; height: auto; margin-right: 3%">
                    <img src="{{ club.main_poster.url }}" style="width: 100%; height: auto"><br/>
                    {% if user.profile.club and user.profile.club == club %}
                        {% if user.profile.is_club_staff %}
                            <button type="button" class="btn btn-outline-primary" style="width: 100%; margin-top: -3%"
                                    onclick="location.href='{% url 'jd:my_club' user.username %}'">
                                관리 페이지 이동하기
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-outline-primary" style="width: 100%; margin-top: -3%"
                                    onclick="location.href='{% url 'jd:club_cancel_apply' club.title %}'">
                                지원 취소하기
                            </button>
                        {% endif %}
                    {% else %}
                        <button type="button" class="btn btn-outline-primary" style="width: 100%; margin-top: -3%"
                                onclick="location.href='{% url 'jd:club_apply' club.title %}'">
                            지원하기
                        </button>
                    {% endif %}
                </div>
                <div style="display: inline-block; width: 67%;">
                    <div>
                        <span style="font-weight: 700; font-size: 1.3rem">설명</span><br/>
                        <span>{{ club.description }}</span>
                    </div>
                    <div>
                        <span style="font-weight: 700; font-size: 1.3rem">동아리 장점</span><br/>
                        <span>{{ club.good_things }}</span>
                    </div>
                    <div>
                        <span style="font-weight: 700; font-size: 1.3rem">동아리 활동</span><br/>
                        <span>{{ club.activities }}</span><br/>
                    </div>
                    {% if club.etc_things %}
                        <div>
                            <span style="font-weight: 700; font-size: 1.3rem">기타 사항</span><br/>
                            <span>{{ club.etc_things }}</span><br/>
                        </div>
                    {% endif %}
                    <div>
                        <span style="font-weight: 700; font-size: 1.3rem">모집 인원</span><br/>
                        <span>{{ club.head_num }}명</span><br/>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 3%">
            <p style="font-weight: 700; font-size: 2rem;">구성원</p>
            <div style="display:flex; width: 100%; flex-direction: row">
                <table class="table">
                    <thead>
                    <th scope="col">프로필 이미지</th>
                    <th scope="col">학번</th>
                    <th scope="col">이름</th>
                    <th scope="col">이메일</th>
                    </thead>
                    <tbody>
                    {% for member in members %}
                        <tr style="vertical-align: middle">
                            <td><img src="{{ member.profile.image.url }}"
                                     style="border-radius: 50%; width: 50px; height: 50px;"></td>
                            <td>{{ member.profile.st_num }}</td>
                            <td>{{ member.profile.nickname }}</td>
                            <td>{{ member.email }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>



{% endblock %}
