{% extends 'base.html' %}
{% load static %}

{% block title %}My Club{% endblock %}

{% block content %}
    <div style="width: 100%; background-color: #ff7675; padding-top: 0.5%; padding-bottom: 0.5%; text-align: center">
        <span style="color: white;">모집기간 : {{ club.deadline }}까지</span>
    </div>
    <div style="margin-left: 10%; margin-right: 10%">
        <div class="detail-box" style="margin-top: 5%">
            <div style="display: flex; flex-direction: row; justify-content: space-between">
                <span style="font-weight: 700; font-size: 2rem;"><mark>{{ club.title }} 관리 페이지</mark></span>
                <i class="bi bi-trash" style="font-size: 2rem"
                   onclick="location.href='{% url 'jd:club_delete' club.title %}'"></i>
            </div>
            <div style="display: flex; flex-direction: row; width: 100%; height: auto">
                <div style="display: flex; flex-direction: column; float: left; width: 30%; height: auto; margin-right: 3%">
                    <img src="{{ club.main_poster.url }}" style="width: 100%; height: auto"><br/>
                    <button type="button" class="btn btn-outline-primary" style="margin-top: -3%; width: 100%"
                            onclick="location.href='{% url 'jd:club_update' club.title %}'">
                        <i class="bi bi-pencil-square" style="margin-right: 2%"></i>동아리 정보 수정
                    </button>
                    <button type="button" class="btn btn-outline-success" style="margin-top: 2%; width: 100%"
                            onclick="location.href='{% url 'jd:club_message_update' club.title %}'"><i
                            class="bi bi-pencil-square" style="margin-right: 2%"></i>동아리 메세지 수정
                    </button>
                </div>
                <div style="width: 67%;">
                    <div>
                        <span style="font-weight: 700; font-size: 1.3rem">설명</span><br/>
                        <span>{{ club.description }}</span>
                    </div>
                    <div>
                        <span style="font-weight: 700; font-size: 1.3rem">동아리 장점</span><br/>
                        <span>{{ club.good_things }}</span>
                    </div>
                    <div>
                        <span style="font-weight: 700; font-size: 1.3rem">동아리 활동</span><br/>
                        <span>{{ club.activities }}</span><br/>
                    </div>
                    {% if club.etc_things %}
                        <div>
                            <span style="font-weight: 700; font-size: 1.3rem">기타 사항</span><br/>
                            <span>{{ club.etc_things }}</span><br/>
                        </div>
                    {% endif %}
                    <div>
                        <span style="font-weight: 700; font-size: 1.3rem">모집 인원</span><br/>
                        <span>{{ club.head_num }}명</span><br/>
                    </div>
                </div>
            </div>
            <div style="margin-top: 3%">
                <p style="font-weight: 700; font-size: 2rem;">구성원</p>
                <div style="display:flex; width: 100%; flex-direction: row">
                    <table class="table">
                        <thead>
                        <th scope="col">프로필 이미지</th>
                        <th scope="col">학번</th>
                        <th scope="col">이름</th>
                        <th scope="col">이메일</th>
                        </thead>
                        <tbody>
                        {% for member in members %}
                            <tr style="vertical-align: middle">
                                <td><img src="{{ member.profile.image.url }}"
                                         style="border-radius: 50%; width: 50px; height: 50px;"></td>
                                <td>{{ member.profile.st_num }}</td>
                                <td>{{ member.profile.nickname }}</td>
                                <td>{{ member.email }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
            <p style="font-weight: 700; font-size: 2rem;">지원자 리스트</p>
            <div style="display:flex; width: 100%; flex-direction: row">

                <table class="table">
                    <thead>
                    <th scope="col">프로필 이미지</th>
                    <th scope="col">학번</th>
                    <th scope="col">이름</th>
                    <th scope="col">이메일</th>
                    <th scope="col">합격/불합격</th>
                    </thead>
                    <tbody>
                    {% for applicant in applicants %}
                        <tr style="vertical-align: middle">
                            <td><img src="{{ applicant.profile.image.url }}"
                                     style="border-radius: 50%; width: 50px; height: 50px;"></td>
                            <td>{{ applicant.profile.st_num }}</td>
                            <td>{{ applicant.profile.nickname }}</td>
                            <td>{{ applicant.email }}</td>
                            <td style="font-size: 1.5rem"><i style="cursor: pointer" class="bi bi-check-square" onclick="location.href='{% url 'jd:send_club_pass_email' applicant.username %}'"></i>&nbsp;&nbsp;<i
                                    style="cursor: pointer" class="bi bi-x-square-fill" onclick="location.href='{% url 'jd:send_club_unpass_email' applicant.username %}'"></i></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>



{% endblock %}